* {
    font-family: Helvetica;
}

.banner {
    background-color: blue;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 50px 0;
}

button {
    margin: 30px;
    padding: 15px;
}

#banner-img {
    height: 100px;
    width: 100px;
}

#doggy {
    color: blue;
    font-size: 30px;
}

.bold {
    font-weight: 900;
}
